@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Overpass:wght@400;700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    font-family: 'Overpass', sans-serif;
}

.container {
    width: 400px;
    height: 350px;

    border-radius: 30px;
    
    background-image: linear-gradient(to top, hsl(216, 12%, 8%), hsla(213, 20%, 18%));
}

.star {
    margin-top: 25px;
    margin-left: 25px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border-radius: 50%;

    background-color: hsl(213, 20%, 18%);
}

.container h1 {
    margin-top: 25px;
    margin-left: 25px;

    color: hsl(0, 0%, 100%);

    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.container p {
    margin-top: 20px;
    margin-left: 25px;

    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;

    color: hsl(217, 12%, 63%);
} 

.btn {
    margin-top: 20px;
    margin-left: 25px;

    width: 340px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;
}

.circle_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    border-radius: 50%;

    color: hsl(216, 12%, 54%);
    background-color: hsl(213, 20%, 18%);

    cursor: pointer;
    transition: all 0.4s ease;
}

.circle_btn:hover {
    background-color: hsl(212, 36%, 32%);
    transition: all 0.2s ease;
}

.submit {
    margin-top: 25px;
    margin-left: 25px;

    width: 340px;
    height: 40px;

    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);

    font-weight: 700;
    letter-spacing: 3px;

    border-style: none;
    border-radius: 40px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.submit:hover {
    background-color: rgb(255, 78, 47);
    color: black;
    transition: all 0.3s ease;
}

.circle_orange {
    background-color: rgb(230, 168, 54);
}